/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  box-shadow: 1px 1px 4px #999;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.generic-button {
  border: none;
  border-radius: 5%;
  padding: 12% 13%;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 2px #999;
  outline: none;
  width: 100%;
}

.generic-button-container.player-space-button {
  width: 90%;
  height: 20%;
  padding: 5%;
}

.generic-button.room-button {
  padding: 12% 10% !important;
  border-radius: 10% !important;
  font-size: 9px !important;
  font-weight: bold;
}

.generic-button.lobby-button {
  width: 17%;
  padding: 1% 1% !important;
  font-size: 9px !important;
  font-weight: bold;
  margin: 1%;
}

.generic-button.alert {
  background-color: #e50000;
}

.generic-button.alert.ripple:hover {
  background: #ff3232 radial-gradient(circle, transparent 1%, #ff3232 1%) center/15000% !important;
}

.generic-button-container.room-button {
  width: 40%;
  height: 100%;
  padding: 0% 5%;
  display: inline-block;
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: 0 0 4px #999;
}

.placeholder {
  opacity: 0;
  pointer-events: none;
}